<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Mobile App" parallel="tests" thread-count="1">
    <test name="Loading APP">
        <packages>
            <package name="projectTestApp.tests.loadingApp"/>
        </packages>
    </test>
    <test name="LoginPage">
        <packages>
            <package name="projectTestApp.tests.login"/>
        </packages>
    </test>
    <test name="MainPage">
        <packages>
            <package name="projectTestApp.tests.main"/>
        </packages>
    </test>
    <test name="FormsPage">
        <packages>
            <package name="projectTestApp.tests.forms"/>
        </packages>
    </test>
</suite>